mixin copyright()
	+b.copyright&attributes(attributes)
		block

		+e('p').p (c) Hawking School, 2018
		+e('p').p._desctop Проект компании ООО “Хокинг Бразерс”
		+e('p').p._mobile Проект компании<br />ООО “Хокинг Бразерс”
