import('sprites/*')
import('helpers/svg-size')
@import 'helpers/test-display'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

@import '../../node_modules/animate.css/animate.min.css'
@import '../../node_modules/remodal/dist/remodal.css'
@import '../../node_modules/remodal/dist/remodal-default-theme.css'
@import '../../node_modules/slick-carousel/slick/slick.css'

import('../blocks/**/*')
