include ../second-title/second-title

mixin about(title)
	+b.about&attributes(attributes)
		block

		+second-title(title)._about-us._line-d._line-t._line-m

		+e('p').description_desctop "Название" первые курсы дополнительного образования во Владимире,<br />где готовят специалистов в области интернет-маркетинга.<br /> Профессии будущего доступны теперь и в нашем городе!
		+e('p').description_mobile "Название" первые курсы дополнительного<br />образования во Владимире, где готовят<br />специалистов в области интернет-маркетинга.<br />Профессии будущего доступны теперь и в нашем городе!