.about
	padding 40px 0 45px
	display block

	&__description
		font-family $pnr
		text-align center
		color $black_brown
		+t()
			font-size 16px
		+m()
			font-size 12px
		+d()
			font-size 18px
			line-height 1.667

		&_desctop
			+t()
				display block
			+m()
				display none
			+d()
				display block

		&_mobile
			+t()
				display none
			+m()
				display block
			+d()
				display none

