.about
	display block
	+t()
		padding 30px 0 40px
	+m()
		padding 29px 0 27px
	+d()
		padding 40px 0 45px

	&__description
		font-family $pnr
		text-align center
		color $black_brown
		+t()
			font-size 16px
			line-height 1.5
		+m()
			font-size 12px
			line-height 1.5
		+d()
			font-size 18px
			line-height 1.667

		&_desctop
			+t()
				display block
			+m()
				display none
			+d()
				display block

		&_mobile
			+t()
				display none
			+m()
				display block
			+d()
				display none
