.textarea
	padding 10px 20px
	display block
	min-width 100%
	font-family $pnr
	font-size 18px
	line-height 1.4
	color $black
	border-width 1px
	border-color $black_brown

	&::-webkit-input-placeholder
		color $black + 60%
		opacity 1

	&::-moz-placeholder
		color $black + 60%
		opacity 1

	&:-ms-input-placeholder
		color $black + 60%
		opacity 1

	&:-moz-placeholder
		color $black + 60%
		opacity 1
