.textarea
	padding 10px 20px
	display block
	min-width 100%
	font-family $pnr
	font-size 18px
	line-height 1.4
	color $black
	border 1px solid $black_brown
	outline none

	&::placeholder
		color $black + 60%
		opacity 1

	+ label.error
		margin-top 5px
		margin-bottom -10px
		padding-left 20px
		display block
		font-family $pnr
		font-size 16px
		color $red

	&.error
		border-color $main_red
