.input-text
	padding 0 20px
	display block
	min-width 100%
	height 40px
	font-family $pnr
	font-size 18px
	line-height 38px
	color $black
	border-width 1px
	border-color $black_brown

	&::-webkit-input-placeholder /* Chrome/Opera/Safari */
		color $black + 60%
		opacity 1

	&::-moz-placeholder /* Firefox 19+ */
		color $black + 60%
		opacity 1

	&:-ms-input-placeholder /* IE 10+ */
		color $black + 60%
		opacity 1

	&:-moz-placeholder /* Firefox 18- */
		color $black + 60%
		opacity 1
