mixin nav()
	+b.NAV.nav&attributes(attributes)
		block

		+e('h2').title-nav Главное меню
		+e('div').burger.js-burger-menu
			+e('span')

		+e.list.js-nav-list
			+e.item
				+e('a')(href="about-us.html") О нас
			+e.item
				+e('a')(href="javascript:;") Курсы
				+e.submenu
					+e.submenu-item
						+e('a')(href="contacts")
							+e('span') Менеджер проектов
					+e.submenu-item
						+e('a')(href="contacts")
							+e('span') SEO
						+e('span') СКОРО!
					+e.submenu-item
						+e('a')(href="contacts")
							+e('span') Контекст
						+e('span') СКОРО!
					+e.submenu-item
						+e('a')(href="contacts")
							+e('span') Программист
							| <br />
							+e('span') 1С Битрикс
						+e('span') СКОРО!
			+e.item
				+e('a')(href="contacts") Контакты
			+e.item
				+phones._mobile