.footer-inner
	display flex
	justify-content stretch

	+d()
		padding-y(40px)

	&__container-logo
		width 360px
		flex-shrink 0

	&__container-nav
		width auto

	&__container-network
		width 245px
		flex-shrink 0