.input-phone
	padding 0 20px
	display block
	min-width 100%
	height 40px
	line-height 38px
	color $black + 10%
	border-width 1px
	border-color $black_brown

	&::placeholder
		color $black + 60%
		opacity 1

	+ label.error
		margin-top 5px
		margin-bottom -10px
		padding-left 20px
		display block
		font-family $pnr
		font-size 16px
		color $red