include ../info/info
include ../map/map
include ../second-title/second-title

mixin contacts(title, arr)
	+b.contacts&attributes(attributes)
		block

		+second-title(title)._about-us._line-t._line-m

		+e.wrapper-section
			+e.wrapper-info
				+info(arr)
			+e.wrapper-map
				+map
