include ../remodal/remodal
mixin phones()
	+b.phones&attributes(attributes)
		block

		+e('a').question(href="#" data-remodal-target="modal-question") Задать вопрос
		+e('a').tel(href="tel:+7 (4922) 21-32-39")
			| +7 (4922) 21-32-39
