.phones
	display flex
	+t()
		flex-direction column-reverse
		align-items flex-start
	+m()
		align-items center
	+d()
		align-items center

	&__question
		position relative
		font-family $pnr
		text-decoration none
		color $white
		transition color .25s
		+t()
			margin-left 23px
			font-size 14px
		+m()
			font-size 12px
		+d()
			margin-right 13px
			margin-left 25px
			font-size 14px

		&:before
			position absolute
			bottom 0
			content ''
			background-size contain
			retinaBackground('icon-phone-white', 'png')
			+t()
				left -23px
				bottom 1px
				size(8px, 15px)
			+m()
				bottom -1px
				size(8px, 15px)
			+d()
				top calc(50%)
				left -25px
				transform translateY(-50%)
				size(12px, 21px)

		&:after
			position absolute
			right 0
			left 0
			bottom 0
			height 1px
			content ''
			background-color $white - 40%
			transition background-color .25s

		&:hover
			color $red
			&:after
				background-color $red - 40%

	&__tel
		font-family $psb
		text-decoration none
		color $white
		transition color .25s
		+t()
			margin-bottom 8px
			font-size 14px
		+d()
			font-size 18px

		&:hover
			color $red

	&_desctop
		display flex
		+m()
			display none

	&_mobile
		+t()
			display none
		+m()
			display flex
		+d()
			display none