include ../remodal/remodal
include ../second-title/second-title
include ../remodal-form/remodal-form
include ../form-elements/input-text/input-text
include ../form-elements/input-phone/input-phone
include ../form-elements/textarea/textarea
include ../form-elements/input-check/input-check
include ../form-elements/label/label
include ../form-elements/button-submit/button-submit


mixin phones()
	+b.phones&attributes(attributes)
		block

		+e('a')(href="#" data-remodal-target="modal-question").question Задать вопрос
		+e('a')(href="tel:+7 (4922) 21-32-39").tel
			| +7 (4922) 21-32-39

		+remodal('modal-question')._require-question

			+e('button')(data-remodal-action="close").close

			+second-title('Задать вопрос')._text-capitalize._require-question
			//- method, validate, action
			+remodal-form('POST', 'Y', '').js-form

				+e.form-field
					//- type, name, placeholder, required, autocomplete
					+input-text('text','first_name', 'Имя', true, 'off')

				+e.form-field
					//- type, name, placeholder, required, autocomplete
					+input-text('text','last_name', 'Фамилия', true, 'off')

				+e.form-field
					//- name, placeholder, mask, required, autocomplete
					+input-phone('phone', 'Телефон', '+7 (999) 999-99-99', true, 'off').js-phone-validation

				+e.form-field
					//- type, name, placeholder, required, autocomplete
					+input-text('email','email', 'Почта', true, 'off').js-email-validation

				+e.form-field
					//- name, placeholder, required, autocomplete
					+textarea('text', 'Ваш вопрос', true, 'off', 5)

				+e.form-field
					//- name, id, value, checked, required
					+input-check('signup_agree', 'signup-agree', 'accepted', true, true)
					//- for
					+label('signup-agree')
						| Отправляя заявку, я соглашаюсь на обработку
						+e('a')(href="javascript:;") персональных данных

				+e.form-field
					//- value
					+button-submit('Отправить')
