.g-xl-visible,
.g-lg-visible,
.g-md-visible,
.g-sm-visible,
.g-xs-visible {
	display: none !important;
}
/* desctop */
@media only screen and (min-width : 1278px) {
	.g-xl-visible {
		display: block !important;
	}
}
/* table large */
// @media only screen and (max-width : 1199.98px) and (min-width : 992px) {
// 	.g-lg-visible {
// 		display: block !important;
// 	}
// }
/* table small */
@media only screen and (max-width : 1279.98px) and (min-width : 768px) {
	.g-md-visible {
		display: block !important;
	}
}
/* mobile large */
// @media only screen and (max-width : 767.98px) and (min-width : 576px) {
// 	.g-sm-visible {
// 		display: block !important;
// 	}
// }
/* mobile small */
@media only screen and (max-width : 767.98px) {
	.g-xs-visible {
		display: block !important;
	}
}

// .grid-or-flex {
// 	display flex !important
// }

// @supports (display: grid) {
// 	.grid-or-flex {
// 		display grid !important
// 	}
// }