.main
	display block

	&_page-head
		background-image linear-gradient(to right, #2d062d 25%, #b5b66d 100%)
		// background-image linear-gradient(to right, #2d062d, #b5b66d)
		// background-image linear-gradient(to right, #2d062d 0, #2d062d 50%, #b5b66d 0, #b5b66d 50%)
