extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/main/main
include /blocks/article/article
include /blocks/container/container
include /blocks/page-head/page-head
include /blocks/about/about
include /blocks/preview/preview
include /blocks/courses/courses
include /blocks/contacts/contacts
include /blocks/footer/footer

block head
	- var pageTitle = 'Hawking School';

block content
	+main._page-head
		+container
			+page-head

	+section._about
		+container
			+about('О нас')

	+section._preview
		+container
			+preview(getData('preview'))

	+section._courses
		+container
			+courses('Популярные курсы')

	+section._contacts
		+container
			+contacts('Контакты', getData('info'))
