extends /blocks/layout-default/layout-default
include /blocks/section/section
include /blocks/container/container
include /blocks/page-head/page-head
include /blocks/about/about
include /blocks/preview/preview
include /blocks/courses/courses
include /blocks/contacts/contacts

block head
	- var pageTitle = 'Hawking School';

block content
	+section._page-head
		+container
			+page-head

	+section._about
		+container
			+about('О нас')

	+section._preview
		+container
			+preview(getData('preview'))

	+section._courses
		+container
			+courses('Популярные курсы', getData('courses'))

	+section._contacts
		+container
			+contacts('Контакты')
