.logo
	display block
	background-repeat no-repeat
	background-position center center
	background-size contain
	size(156px, 40px)

	&_white
		retinaBackground('logo-white', 'png')

	&_black
		retinaBackground('logo-black', 'png')
