.social-network
	display block

	&__social-wrapper
		margin-bottom 20px
		+t()
			display none

.helper-links
	&__item
		margin-bottom 20px
		font-family $pnr
		color $black
		opacity .8
		+t()
			font-size 14px
		+d()
			font-size 16px

		&:last-of-type
			margin-bottom 0

		a
			position relative
			text-decoration none
			color $black
			transition color .25s

			&:after
				position absolute
				right 0
				left 0
				bottom 0
				height 1px
				content ''
				background-color $main_black + 70%
				transition background-color .25s

			&:hover
				color $red

			&:hover:after
				background-color $red + 70%
