include ../social-block/social-block

mixin social-network()
	+b.social-network&attributes(attributes)
		block

		+e.social-wrapper

			+social-block

		+e.links-wrapper
			+b('ul').helper-links
				+e('li').item
					| Сайт создан в
					+e('a')(href="javascript:;") Hawking Brothers

				+e('li').item
					+e('a')(href="javascript:;") Политика конфиденциальности

				+e('li').item
					+e('a')(href="javascript:;") Договор оферты
