include ../container/container
include ../header-inner/header-inner
include ../logo/logo
include ../nav/nav
include ../phones/phones

mixin header()
	+b.HEADER.header&attributes(attributes)
		block

		+container
			+header-inner
				+logo._white
				+nav
				+phones._desctop
