.second-title
	display block
	font-size 24px
	text-align center
	text-transform uppercase
	color $black_brown

	&_line
		position relative
		padding-bottom 19px

		&:after
			position absolute
			left 50%
			bottom 0
			content ''
			background-color $main_red
			transform translateX(-50%)
			size(32px, 5px)

	&_about-us
		+d()
			margin-bottom 13px

	&_courses
		+d()
			margin-bottom 59px