.info
	display block
	background-color $main_black
	+d()
		padding 90px 190px 90px 90px

	&__item
		display flex
		align-items center
		+d()
			margin-bottom 22px

		&:last-of-type
			margin-bottom 0

	&__img
		display flex
		flex-shrink 0
		justify-content center

	&__desc
		+d()
			margin-left 48px

		p
			font-family $pnr
			font-size 18px
			line-height 1.2
			color $white

		a
			position relative
			font-family $pnr
			font-size 18px
			line-height 1.2
			text-decoration none
			color $white
			transition color .25s

			&:after
				position absolute
				right 0
				left 0
				bottom 0
				height 1px
				content ''
				background-color $main_white - 40%
				transition background-color .25s

			&:hover
				color $red

			&:hover:after
				background-color $main_red - 40%