.info
	display block
	+t()
		padding 43px 0 42px
		width 300px
	+m()
		padding-y(28px)
	+d()
		padding 90px 190px 90px 90px

	&__item
		display flex
		align-items center
		+t()
			margin-bottom 20px
		+m()
			margin-bottom 21px
		+d()
			margin-bottom 22px

		&:last-of-type
			margin-bottom 0

	&__img
		display flex
		flex-shrink 0
		justify-content center

	&__desc
		+t()
			margin-left 15px
		+d()
			margin-left 48px

		p
			font-family $pnr
			line-height 1.2
			color $white
			+t()
				font-size 16px
			+m()
				font-size 12px
			+d()
				font-size 18px

		a
			position relative
			font-family $pnr
			text-decoration none
			color $white
			transition color .25s
			+t()
				font-size 16px
			+m()
				font-size 12px
			+d()
				font-size 18px

			&:after
				position absolute
				right 0
				left 0
				bottom 0
				height 1px
				content ''
				background-color $main_white - 40%
				transition background-color .25s

			&:hover
				color $red

			&:hover:after
				background-color $main_red - 40%