mixin page-head(offset, cls)
	+b.page-head(data-offset="#{offset}" data-class="#{cls}")&attributes(attributes)
		block

		+e.H1 Обучаем востребованным<br /><span>интернет-профессиям</span>

		+e('a')(href="javascript:;") Узнать подробнее
