.page-head
	margin 0 auto
	padding 70px 0
	display block
	background-image linear-gradient(to right, #2d062d, #b5b66d)

	h1
		position relative
		z-index 20
		margin-bottom 60px
		font-family $pnb
		font-size 48px
		line-height 1.2
		text-align center
		color $white

		span
			font-family $pnr
			font-size inherit

	a
		position relative
		z-index 20
		margin 0 auto
		font-family $pnr
		text-decoration none
		color $white
		background-color $main_red
		border-radius 26px
		transition background-color .25s
		size(185px, 45px)
	a
		display flex
		justify-content center
		align-items center
		

		&:hover
			background-color $main_red - 15%
