.remodal-form
	display block
	text-align left

	&__form-field
		margin-bottom 19px

		&:last-of-type
			margin-bottom 0

	&__course-name
		margin-bottom 22px
		font-family $pnb
		font-size 24px
		text-align center
		color $red

	&__course-context
		margin-bottom 30px
		padding 0 75px
		font-family $pnr
		font-size 14px
		line-height 1.2
		text-align center
		color $black_brown

		span
			color $red